<div id="home-content" *transloco="let t">
  <div id="container">
  <div class="top-section">

    <img src="/assets/carousel-item-1.svg" alt="Logo" />
    <h2>{{t('landing.welcome')}}</h2>
  </div>
  <div class="bottom-section">
    <ion-button class="register-button" expand="block" (click)="onRegisterClick()">Get Started</ion-button>
    <ion-button class="register-button" expand="block" (click)="onLoginClick()">Login</ion-button>

  
    <p class="small">{{t('home.legal')}}</p>
    </div>
  </div>
</div>
