<div id="home-content" *transloco="let t">
  <div id="container">
    
    <phx-input [(ngModel)]="username" label="Username" name="username"></phx-input>
  
    <phx-input [(ngModel)]="password" label="Password" name="password" type="password"></phx-input>
  
    <ion-button class="register-button" [disabled]="loading"  expand="block"  (click)="login()">{{ loading ? 'Logging in...' : 'Login' }}</ion-button>
          <ion-text color="danger" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </ion-text>
    <a class="forgot_link" href="#" >{{t('home.forgot_password')}}</a>
  
    <p class="small">{{t('home.legal')}}</p>
  </div>
</div>
