/* :root {
    --pds-color-primary: #328c01;
    --pds-color-primary-rgb: 38,166,138;
    --pds-color-primary-contrast: #FFFFFF;
    --pds-color-secondary: #cccccc;
    --pds-color-secondary-rgb: 204,204,204;
    --pds-color-tertiary: #d7cea2;
    --pds-color-tertiary-rgb: 215,206,162;
    --border-radius: 22px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --pds-color-primary: #d5ff86;
        --pds-color-primary-rgb: 39,234,197;
        --pds-color-primary-contrast: #000000;
        --pds-color-secondary: #cccccc;
        --pds-color-secondary-rgb: 204,204,204;
        --pds-color-tertiary: #d7cea2;
        --pds-color-tertiary-rgb: 215,206,162;
        --border-radius: 22px;
    }
} */
