.offering-list {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
    padding: 0 24px;
}

.offering-container {
    max-width: 480px;
    margin: 0 auto;
    flex: 1;
}