<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Register User</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">First Name</ion-label>
        <ion-input [(ngModel)]="form.firstName" name="firstName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Last Name</ion-label>
        <ion-input [(ngModel)]="form.lastName" name="lastName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [(ngModel)]="form.email" name="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Login (Email)</ion-label>
        <ion-input [(ngModel)]="form.login" name="login" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input [(ngModel)]="form.password" name="password" type="password"></ion-input>
      </ion-item>

      <ion-button
        class="register-button"
        expand="block"
        [disabled]="loading"
        (click)="registerUser()">
        {{ loading ? 'Registering...' : 'Register' }}
      </ion-button>

      <ion-text color="success" *ngIf="successMessage">
        <p>{{ successMessage }}</p>
      </ion-text>

      <ion-text color="danger" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
