<div class="register-container">

  <h2>Register User</h2>
  <div class="register-form">

    <phx-input label="First Name" [(ngModel)]="form.firstName" name="firstName"></phx-input>
    <phx-input label="Last Name"  [(ngModel)]="form.lastName" name="lastName"></phx-input>
    <phx-input label="Email" [(ngModel)]="form.email" name="email" type="email"></phx-input>
    <phx-input label="Login (Email)"  [(ngModel)]="form.login" name="login" type="email"></phx-input>
    <phx-input label="Password" [(ngModel)]="form.password" name="password" type="password"></phx-input>
    
    <ion-button
    class="register-button"
    expand="block"
    [disabled]="loading"
    (click)="registerUser()">
    {{ loading ? 'Registering...' : 'Register' }}
  </ion-button>
  
  <ion-text color="success" *ngIf="successMessage">
    <p>{{ successMessage }}</p>
  </ion-text>
  
  <ion-text color="danger" *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </ion-text>
</div>
</div>